<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majorik.moviebox.feature.auth">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_auth">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity
            android:name=".presentation.ui.authorization.AuthorizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.majorik.moviebox" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.about_tmdb.AboutTheMovieDatabaseActivity"
            android:theme="@style/AppTheme.Transparent.NoActionBar" />
    </application>

</manifest>