<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majorik.moviebox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MovieBoxApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.about_tmdb.AboutTheMovieDatabaseActivity"
            android:theme="@style/AppTheme.Transparent.NoActionBar" />
        <activity
            android:name=".ui.first_start.FirstStartActivity"
            android:theme="@style/AppTheme.NoActionBar.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.majorik.moviebox" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.movieTabCollections.MovieCollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.tvTabCollections.TVCollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.seasonDetails.SeasonDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.search.SearchableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidingActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.tvDetails.TVDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.movieDetails.MovieDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.person_details.PersonDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>