<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majorik.moviebox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MovieBoxApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.majorik.moviebox.feature.collections.genres.GenresActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.navigation.presentation.language.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.navigation.presentation.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.auth.presentation.ui.about_tmdb.AboutTheMovieDatabaseActivity"
            android:theme="@style/AppTheme.Transparent.NoActionBar" />
        <activity
            android:name="com.majorik.moviebox.feature.collections.movieTabCollections.MovieCollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.collections.tvTabCollections.TVCollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.details.seasonDetails.SeasonDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.search.presentation.search.SearchableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidingActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.details.presentation.tvDetails.TVDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.majorik.moviebox.feature.details.presentation.movieDetails.MovieDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.majorik.moviebox.feature.details.presentation.person_details.PersonDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>