<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majorik.moviebox.feature.collections">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_collections">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">

        <activity
            android:name=".presentation.movieTabCollections.MovieCollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.tvTabCollections.TVCollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.genres.GenresActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.NoActionBar.Dark"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>

